---
layout:     post
title:      "Micro Web Frameworks in .NET Screencast: Jessica #3 - Configuration"
published:  true
categories: [.NET]
screencast_thumb: jessica3.jpg
---
  <p><iframe src="http://player.vimeo.com/video/24014440?byline=0&amp;portrait=0" width="601" height="428" frameborder="0"></iframe><p><a href="http://vimeo.com/24014440">Jessica #3 &#8211; Configuration</a> from <a href="http://vimeo.com/user7151248">James Hughes</a> on <a href="http://vimeo.com">Vimeo</a>.</p><p>The third part of a series covering the various micro web frameworks in .<span class="caps">NET</span>.  This part shows you how to configure  Jessica (http://jessicafx.org).</p></p>