--- 
layout: post
title: "Flashbag: Glimpse"
published: true
categories: [.NET]
screencast_thumb: glimpse.jpg
---
  <p><iframe src="http://player.vimeo.com/video/22708858?portrait=0" frameborder="0" height="400" width="100%"></iframe></p><p>Glimpse is an extensible client side debugging dev tool for server side stuff in any ASP.NET (WebForms) and ASP.NET MVC (RoR and PHP forthcoming). Think Firebug for your server and you have the gist of it. &nbsp;This presentation is a very brief introduction/overview/review.</p><p>Also the quality totally blows I promise it'll be better next time.</p><p><span style="color: #888888;"><em><strong>Flashbag (fuh-lash-bah-ag)</strong>: A flashbag is a group of people who assemble suddenly in a meeting room type place, partake in a brief technical discussion (or demonstration), then disperse, often for the purposes of education and betterization</em></span></p>