---
layout:     post
title:      "Micro Web Frameworks in .NET Screencast: Nancy #1 - Hello World"
published:  true
categories: [.NET]
screencast_thumb: nancy1.jpg
---
  <p><iframe src="http://player.vimeo.com/video/24114023?byline=0&amp;portrait=0" width="601" height="428" frameborder="0"></iframe><p><a href="http://vimeo.com/24114023">Nancy #1 &#8211; Hello World</a> from <a href="http://vimeo.com/user7151248">James Hughes</a> on <a href="http://vimeo.com">Vimeo</a>.</p><p>Part of my Micro Web Frameworks in .<span class="caps">NET</span> series.  This time looking at Hello World in Nancy (http://nancyfx.org)</p></p>