---
layout:     post
title:      "Personal Systems of (Dis)Organisation"
published:  true
categories: [Random]
---

From the outside people probably regard me as a typically chaotic person.  My desk is a mess, I'm not mad keen on the whole shaving thing, my writing is terrible and I am generally not where people expect me to be at any particular time.  But there is, more often than not, a workflow that works for me hidden deep down in the chaos.  Most people stick to one or two way to organise themselves (Todo Lists, pen and paper, iPad etc.).  Not me.  I'm still trying to find some sort of process that fits well with me but I'm starting to think that perhaps that actually is my process.  I move from different mediums and tools quite a lot.  Doing this isn't always easy given some tools just natrually try and lock you in.  My current workflow involves a few tools,

* Pen and paper (Work only).  Nothing beats its it immediate and short term loggin of free form information.  I have strict rules around it though.  
  * Blank paper - no lines or binder holes or headers.  I guess I subconciouslly view this a restriction perhaps?
  * Black pen (with a bit of red).  I've totally gone off blue pen - it makes my notes look messy (they are though).  Pencil has been overtaken by the black ink pen these days though I am not sure why
* [Wunderlist](http://www.wunderlist.com/). List management.  Cloud syncing. Free.  I moved from [Things.app](http://culturedcode.com/things/) when I realised they just don't seem to listen to their customers.  Cloud synching is essential.  Wunderlist offers me a cross platform and web based solution for doing everything I need quickly.  I use this for medium-longer term "listable" tasks such as,
  * Project Deliverables
  * General day to day work tasks (though not shopping lists - see later)
  * Things to blog about
  * Wish lists for presentas and books and things (shared with family who also do the same thing)
* iOS 5's Reminders app.  Yeah ANOTHER list manager.  This one is for very short time lists such as shopping lists.  I find polluting Wunderlist with this sort of list very annoying.  I don't use it that often but it's the best app I find for ultra fast entry of lists.
* [Trello](https://trello.com/).  The latest addition to my supposed system.  It's essentially a multi-level list system.  Kind of like a cross between a Kanban board and a Todo list application.  I am currently using this for more and more things.  Essentially higher level list management that makes more sense to have a pseudo workflow or a board to collect realted lists and collaborate with others.  The key to this one is everything becomes more collaborative but it's much less restictive than something like AgileZen.
  * Books (To Read, Reading, Finished)
  * Hackathon Voting (Ideas, Timings, Dates, Objectives etc).  Allows a bunch of people to vote and discuss relevant things for the next hackathon.  We also use checklists for things we need to prepare in advance etc.
  * House renovations (one list per room).  Shared between my wife and myself.
* [AgileZen](http://agilezen.com/).  Amazing site for Kanban and Scrum.  Essentially a Kanban board with enough flexbility/features that means we can tailor the workflow to suit the needs of the project and team.  I use this for work projects where feedback on times and bottlenecks is essential.  Can't say enough great things about this.
* Whiteboard - Ultra transient information.  I use this during real time __brain thinking__ sessions.  An old friend remareked that the process of getting out of your chair and picking up a pen changes the way you think and creates a more open environment for ideas.  Generally items on the whiteboard last a couple of minutes.  Anything important can be photographed and sent to Evernote or email.  I do my best work at a whiteboard.  If I am blanking I get up and start doodling - inspiration eventually comes.  Currently there is a picture of Silos (pronounced Sigh Loss) - The Evil Data Overlord - makes sense to me.
<div style="text-align:center"><img src="/media/images/blog/silos.jpg" /></div>
* [Evernote](https://www.evernote.com/).  Online storage of notes useful for indexing and searching.  To be honest - more information goes into this than comes out but it has saved my neck a few times with information I thought irrelevant.  I moved from OneNote because there was no suitable OneNote client for the devices I use.  Oh and I own a Mac.
* [TripIt](http://www.tripit.com/).  I'm travelling a bit more these days and it is always nice to have all the necessary information in one place that actually assists planning by proving maps and schedules.  Assistive metasites are the future!
* Fridge (one of those cold things in your kitchen) - My materialised Kanban board at home that I use for "hobby" activities when I am off work to let my wife know what I am up to and plan accordingly.
* Calendar - Outlook synched to Google and available on all devices.  I don't use this directly but other people do and I follow the instructions people send to me (if I think it's worth my time).
* Email - Most disorganised but oft used medium for retrieving information (usually once and discarded or archived to never be accessed again)

So you see I have got a lot of stuff in a lot of places but luckily important information is exactly where I need it.  It may not seem sane or organised but for some reason it is to me - or maybe this is very very normal?
