---
layout:     post
title:      On The Move
published:  true
categories: [Random]
---
  <p>So I&#8217;ve decided to go ahead and move away from <a href="http://yobriefcase.posterous.com">Posterous</a> &#8211; the call of <a href="https://github.com/mojombo/jekyll">Jekyll</a> was just too much.  I&#8217;ve migrated a lot of my content but there is some dodgy formatting and plenty of missing images so I am in the process of sorting everything out.</p><p>Also thanks to <a href="http://tombell.org.uk">Tom Bell</a> for letting me use his template.</p>
