---
layout:     post
title:      "Micro Web Frameworks in .NET Screencast - Jessica #1 - Hello World"
published:  true
categories: [.NET]
screencast_thumb: jessica1.jpg
---
  <p><iframe src="http://player.vimeo.com/video/24014199?byline=0&amp;portrait=0" width="601" height="428" frameborder="0"></iframe><br><p><br>  <a href="http://vimeo.com/24014199">Jessica #1 &#8211; Hello World</a> from <a href="http://vimeo.com/user7151248">James Hughes</a> on <a href="http://vimeo.com">Vimeo</a>.</p></p><p>The first part of a series covering the various micro web frameworks in .<span class="caps">NET</span>.  This part shows you how to implement Hello World using Jessica (http://jessicafx.org).</p>