<section>
  <h1>All my thingz!</h1>
  <ul class="allmythings">
    <li><a href="http://speakerdeck.com/u/kouphax" style="text-decoration: none;"><img src="{{ root_url }}/images/social/speakerdeck.gif" height="32" width="32" title="Speakerdeck" /> Speakerdeck (Presentations)</a></li>
    <li><a href="http://bitbucket.org/kouphax" style="text-decoration: none;"><img src="{{ root_url }}/images/social/bitbucket.png" height="32" width="32" title="BitBucket" /> Bitbucket (Code)</a></li>
    <li><a href="http://github.com/kouphax" style="text-decoration: none;"><img src="{{ root_url }}/images/social/github.png" height="32" width="32" title="Github" /> Github (Code)</a></li>
    <li><a href="http://twitter.com/kouphax" style="text-decoration: none;"><img src="{{ root_url }}/images/social/twitter.png" height="32" width="32" title="Twitter" /> Twitter (Social)</a></li>
    <li><a href="http://vimeo.com/kouphax" style="text-decoration: none;"><img src="{{ root_url }}/images/social/vimeo.png" height="32" width="32" title="Vimeo" /> Vimeo (Screencasts)</a></li>
</section>
