body {
  border-top  : 5px solid #A2D54E;
  color       : #333332;
  font-family : 'PT Sans',sans-serif;
  margin      : 0;
}

h1.title {
  color         : #333332;
  font-weight   : 700;
  margin-bottom : 0;
  margin-top    : 10px;
}

.filter {
  color        : #999;
  line-height  : 1.6em;
}

.filter .selected {
  color:#333332;
}

.page.tokens a {
  background      : #A2D54E;
  color           : #fff;
  float           : right;
  margin-left     : 6px;
  padding         : .4em .6em;
  text-decoration : underline;
}

.entries h1 {
  font-size     : 1.4em;
  margin-bottom : 10px;
}

.entries span {
  color:#999;
}

.entries a {
  border-bottom  : 1px solid #ddd;
  display        : block;
  padding-bottom : 20px;
  padding-top    : 7px;
  width          : 100%;
}

.entries a:hover h1 {
  color:#A2D54E;
}

a {
  color           : #333332;
  text-decoration : none;
}

a.latest h1 {
  color:#000;
}

span.type {
  background   : #A2D54E;
  color        : #fff;
  font-size    : .8em;
  margin-right : 5px;
  padding      : .2em .6em;
}

#main {
  margin-bottom : 30px;
  margin-top    : 40px;
}

div.filter.active {
  margin-top:25px;
}

.twitter {
  background      : #DBF7F8 !important;
  color           : #2D6491!important;
  padding         : 4px!important;
  text-decoration : underline!important;
}

div.filter a.active {
  font-weight     : 700;
  text-decoration : underline;
}

body.all div.entries a.thingie,body.screencast div.entries a.thingie[data-type=screencast],body.talk div.entries a.thingie[data-type=talk],body.article div.entries a.thingie[data-type=article],body.project div.entries a.thingie[data-type=project] {
  display : block;
}

body.screencast div.entries a.thingie,body.talk div.entries a.thingie,body.article div.entries a.thingie,body.project div.entries a.thingie {
  display : none;
}
