 body{font-family:'PT Sans',sans-serif;border-top:5px solid #A2D54E;margin:0;color:#333332}h1.title{margin-top:10px;margin-bottom:0;color:#333332;font-weight:700;padding-left:5px}.filter{padding-left:5px;color:#999;line-height:1.6em}.filter .selected{color:#333332}.page.tokens a{color:#fff;background-color:#A2D54E;padding:.4em .6em;margin-left:6px;float:right;text-decoration:underline}.entries h1{font-size:1.4em;margin-bottom:10px}.entries span{color:#999}.entries a{width:100%;display:block;border-bottom:1px solid #ddd;padding-bottom:20px;padding-top:7px;padding-left:4px}.entries a:hover h1{color:#A2D54E}a{text-decoration:none;color:#333332}a.latest h1{color:#000}span.type{background-color:#A2D54E;color:#fff;font-size:.8em;padding:.2em .6em;margin-right:5px;}#main{margin-top:40px}div.filter.active{margin-top:25px;}.twitter {background-color: #DBF7F8!important;color: #2D6491!important;padding:4px!important; text-decoration: underline!important;}#main{margin-bottom:30px;}

div.filter a.active {
  font-weight: bold;
  text-decoration: underline;
}

body.all div.entries a.thingie {
  display: block;
}

body.screencast div.entries a.thingie {
  display:none;
}

body.screencast div.entries a.thingie[data-type="screencast"] {
  display: block;
}

body.talk div.entries a.thingie {
  display:none;
}

body.talk div.entries a.thingie[data-type="talk"] {
  display: block;
}

body.article div.entries a.thingie {
  display:none;
}

body.article div.entries a.thingie[data-type="article"] {
  display: block;
}
