
body {
  font-family: 'EB Garamond', serif;
  padding:20px;
}

#content {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

p.tagline {
  font-size: 120%;
  padding-top:20px;
  text-align: justify;
}

p.social {
  padding-top:20px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 350%;
}

.dots {
  border-bottom: 1px dashed #aaa;
  position: relative;
  bottom: -12px;
  z-index: -1;
}

h2 {
  text-align: center;
  font-size: 105%;
  text-transform: uppercase;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

h2 a {
  background-color: #fff;
  text-decoration: none;
  z-index: 100;
  padding: 20px;
  color: #666;
}

h3 {
  font-size: 125%;
}

#post a {
  text-decoration: underline;
  color: #333;
}
