html {
	font-size: 22px;
}

body {
	color: #333333;
	font-family: "Lora", serif;
	line-height: 1.5;
}

em {
	font-style: normal;
	font-weight: 700;
}

h1 {
	font-size: 2.618rem;
	font-weight: 600;
	margin: 0 0 1.618rem;
}

blockquote {
	color:#666;
	background:#eee;
	margin-left:0px;
	margin-right:0px;
	padding: 0.1rem 2rem;
	border:0.1rem dashed #999;
}

.homer {
	position: absolute;
	left: 0;
	margin: 2rem 1rem 2rem 3rem;
	padding:0rem 0.6rem 0.2rem 0.6rem;
	top: 0;
	font-size: 2rem;
	border-radius: 2.5rem;
	background-color:#333;
}

.homer a {
	color: #fff;
}

.homer-inline {
	font-size: 2rem;
	height:71px;
	width:71px;
	text-align: center;
	display: inline-block;
	position: relative;
	top:-26px;
	border-radius: 2.5rem;
	background-color:#333;
	margin-right: 20px;
	font-weight: normal;
}

.homer-inline a {
	color: #fff;
}

div.elevator-pitch {
	margin-top:-1rem;
}

a {
	text-decoration: none;
	color: #0074D9;
}

.dater {
	font-family: "Open Sans";
	font-size: 0.727rem;
	right: 0;
	padding: 1.618rem 2.618rem;
	position: absolute;
	top: 0;
}

.row {
	margin    : 0 auto;
	padding   : 0 1rem;
	max-width : 800px;
}

.row:first-of-type {
	padding-top: 6rem;
}

pre {
	overflow-x: scroll;
	padding-left:1rem;
	margin: 2rem 1rem 2rem 0;
	font-size: 0.8rem;
}

p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.published_date {
	font-size:0.8rem;
	color:#999;
	font-weight: normal;
}

img {
	max-width: 800px;
}

.vimeo {
position:relative;
padding-bottom:52.3%;
padding-top:25px;
height:0;
width:100%;
display: block;
margin-left: auto;
margin-right: auto
}

.vimeo iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.categories {
	color: #999;
	margin: 2rem 0;
}
.categories .category {
	margin-left:10px;
}

h1.testimonial-header {
	margin-bottom: 4rem;
}

.testimonial {
	padding:4rem;
	padding-left:1rem;
	padding-top:0rem;
}

.testimonial div {
	text-align: right;
	color: #666;
	margin-top:1rem;
	padding-right: 2rem;
}

.experience h4, .experience h5 {
	margin-top: -0.8rem;
	font-weight: normal;
}

.experience h4 {
	color:#666;
}

.experience h5 {
}

.experience h3.condensed {
	margin-bottom: -0.8rem;
	font-weight: normal;
}

#avatars img {
	height: 71px;
	width: 71px;
	border-radius: 71px;
	margin-right: 20px;
}

@media (min-width: 400px) {
	.row {
		padding: 0 2.618rem;
	}
}

@media (max-width: 400px) {
	.homer {
		margin: 2rem 1rem 2rem 1.5rem;
		padding:0.5rem 0.6rem 0.3rem 0.6rem;
	}

	html {
		font-size: 16px;
	}

}

@media (max-width: 800px) {
	.testimonial {
		padding-right:0rem;
	}

	.testimonial div {
		padding-right: 1rem;
	}
}

