---
layout: default
---

<div>
<article role="article">
  {% if page.title %}
  <header>

            <span style="float:right">
      <a href="/" style="text-decoration:none;"><span class="label label-inverse">Home</span></a>
      <a href="/talks" style="text-decoration:none;"><span class="label label-inverse">Talks</span></a>
      <a href="/feed" style="text-decoration:none;"><span class="label">RSS</span></a>
      <a href="http://twitter.com/kouphax" style="text-decoration:none;"><span class="label">Twitter</span></a>
      <a href="http://github.com/kouphax" style="text-decoration:none;"><span class="label">Github</span></a>
    </span>
    <h1 class="entry-title">    <span class="label" style="margin-right:10px;"><a href="/" style="text-decoration:none; text-transform:none; color:#fff">&larr;</a></span>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% if page.date %}<p class="meta">{% include post/date.html %}{{ time }}</p>{% endif %}
  </header>
  {% endif %}
  {{ content }}
  {% unless page.footer == false %}
    <footer>
      {% if page.date %}<p class="meta">
        {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
        {% if page.categories %}{% include post/categories.html %}{% endif %}
      </p>{% endif %}
      {% unless page.sharing == false %}
        {% include post/sharing.html %}
      {% endunless %}
    </footer>
  {% endunless %}
</article>
{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
</div>
