<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="CanonicalHostNameRule">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^yobriefca\.se$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://yobriefca.se/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
